*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    background: black;

}

.parallex-img img{

    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(-0%,-10%);
    width: 500px;
    height: 500px;
    opacity: 0.5;
    object-fit: cover;
   
}
