*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{

    min-height: 100vh;
    background: linear-gradient(240deg, #834d4d, #503d3d);
    position: relative;
    z-index: -1;
}

.intro-text{

    top: 50%;
    left: 30%;
    transform: translate(-30%,-50%);
    position:absolute;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
}

.intro-text h3{

    font-size: 20px;
    margin-top: 10px;
}

.chair{

    height:700px;
    position:absolute;
    top: 90%;
    right: 10%;
    transform: translate(-10%,-90%);
}

.big-rose{

    height: 200px;
    position:absolute;
    top:1%;
    left: 30%;
   
}

.small-rose{

    height: 100px;
    position:absolute;
    right: 10%;
    top:20%
}

section{

    min-height: 100vh;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}