* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}


header {

    position: sticky;
    top: 0px;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    z-index: 10;
}

nav {

    min-height: 10vh;
    margin: auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav ul {

    flex: 1;

}

nav ul {

    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 25px;

}

nav ul li {

    padding: 2rem;
}

nav a {

    text-decoration: none;
    color: black;

}

section {

    min-height: 100vh;
    padding: 10px 50px;

}

section h2 {

    font-size: 40px;
    font-weight: 100;
    text-transform: uppercase;

}

section .heading {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    padding: 20px 0px;

}

section .heading .underline {

    height: 2px;
    background-color: #F50057;
    width: 100%;
}

section .underlines {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;

}


.bubble {

    position: absolute;
    z-index: -2;
    margin-top: 5px;
    transition: all 0.5s ease;

}

/*About Section*/

.about .content {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80vh;

}

.about .content .myself,
.about .content .skills {
    height: 100%;
    width: 50%;
    padding: 50px;
}

.about .content .skills li {

    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 30px;
    height: 30px;
    background-color: #3f3d56;
}

.about .content .skills li h3 {

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
}

.about .content .skills li .bar {

    height: 100%;
    background-color: #F50057;
    overflow: hidden;
    transition: all cubic-bezier(0.25, 0.8, 0.25, 1);

}


/***************************/

#html {

    width: 90%;
    animation: html 1.2s;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

/***************************/

#css {

    width: 90%;
    animation: css 1.3s;
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

/***************************/

#js {

    width: 70%;
    animation: js 1.4s;

}

@keyframes js {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

/***************************/

#php {
    width: 70%;
    animation: php 1.5s;

}

@keyframes php {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

/***************************/

#sql {
    width: 80%;
    animation: sql 1.6s;

}

@keyframes sql {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

/***************************/

#python {
    width: 70%;
    animation: python 1.7s;

}

@keyframes python {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

/***************************/

#cplus {
    width: 90%;
    animation: cplus 1.8s;

}

@keyframes cplus {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

/***************************/

#pth {
    width: 90%;
    animation: pth 1.9s;

}

@keyframes pth {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

/***************************/

.about .content .myself {

    position: relative;
}

.about .content .myself .hero {

    display: flex;
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 250px;
    overflow: hidden;

}

.about .content .myself .hero img {

    height: 100%;
    width: 100%;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}

.img-right {

    transform: translate(0%, 15%);
}

.hero:hover .img-right {
    transform: translate(0%, 0%);
}

.img-left {

    transform: translate(0%, -15%);
}

.hero:hover .img-left {
    transform: translate(0%, 0%);
}

.about .content .myself .details {

    display: flex;
    flex-direction: column;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.about .content .myself .details h1 {

    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 35px;
}

.about .content .myself .details h3 {

    margin: 10px;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 2px;
}

.about .content .myself .details p {

    margin: 10px;
    letter-spacing: 2px;
}



/*Nav-bar end*/

#page-progress {

    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    background: #F50057;
    transition: width 0.7s ease-out;
}

/*------cursor-----*/

.cursor {

    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    background-color: black;
    opacity: 0.3;
}

.link-grow {


    background-color: transparent;
}

/*****PROJECT*******/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 10%;
    overflow: hidden;
    transform: skew(5deg);
}

.container .card {
    flex: 1;
    transition: all 1s ease-in-out;
    height: 75vmin;
    position: relative;
}

.container .card .card__head {
    color: black;
    background: #F50057;
    padding: 0.5em;
    transform: rotate(-90deg);
    transform-origin: 0% 0%;
    transition: all 0.5s ease-in-out;
    min-width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1em;
    white-space: nowrap;
}

.container .card .card__content {

    opacity: 0;
    color: transparent;
    background: transparent;
    padding: 0.5em;
    transform: rotate(-90deg);
    transform-origin: 0% 0%;
    transition: all 0.5s ease-in-out;
    max-width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;

}

.container .card .card__content p {

    pointer-events: none;
    padding: 30px 0px;
    font-weight: 900;
}

.container .card .card__content a {

    text-decoration: none;
    color: white;
    font-size: 20px;
    border: 1px solid #F50057;
    padding: 10px 30px;
    box-shadow: 0 0 10px #F50057;

}

.container .card .card__content a:hover,
.container .card .card__content a:focus {

    background-color: #F50057;
    box-shadow: 0 0 30px #F50057;
}

.container .card:hover .card__content {

    opacity: 1;
    text-align: center;
    top: calc(10% - 2em);
    color: white;
    background: rgba(0, 0, 0, 0.7);
    font-size: 2em;
    transform: rotate(0deg) skew(0deg);
}

.container .card:hover {
    flex-grow: 10;
}

.container .card:hover img {
    filter: grayscale(0);
}

.container .card:hover .card__head {
    text-align: center;
    top: calc(100% - 2em);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 2em;
    transform: rotate(0deg) skew(-5deg);
}

.container .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease-in-out;
    filter: grayscale(100%);
}

.container .card:not(:nth-child(5)) {
    margin-right: 1em;
}


/*********Slider************/

.slider-section {

    width: 100%;
    margin: auto;
    height: 80vh;

}

.carousel {
    max-width: 80%;
    margin: auto;
    padding: 0 30px;
}

.carousel .card {

    color: black;
    margin: 20px 0;
    text-align: center;
    height: 500px;
    border-radius: 10px;
    background-color: aliceblue;
}

.carousel .card .card-img {


    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;

}

.carousel .card .card-img img {

    width: 100%;
    height: 100%;

}

.owl-dots {
    text-align: center;
    margin-top: 10px;
}

.owl-dot {
    height: 15px;
    width: 45px;
    margin: 0 5px;
    outline: none;
    border-radius: 14px;
    border: 2px solid #F50057 !important;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.owl-dot.active,
.owl-dot:hover {
    background: #F50057 !important;
}

.carousel .card .card-content {

    display: flex;
    flex-direction: column;
    padding: 10px;
}

.carousel .card .card-content h3 {

    text-align: left;
    font-size: 20px;
}

.carousel .card .card-content h6 {

    text-align: left;
    margin: 5px 0px 10px 0px;
    letter-spacing: 2px;

}

.carousel .card .card-content .underline {

    width: 45%;
    height: 2px;
    background-color: #F50057;

}

.carousel .card .card-content p {

    text-align: justify;
    line-height: 20px;
    margin: 10px 0px;
}

.carousel .card .card-content a {

    text-decoration: none;
    background-color: #F50057;
    color: white;
    margin: auto;
    width: 50%;
    padding: 10px 30px;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}

.carousel .card .card-content a:hover {

    color: #F50057;
    background-color: white;
}

/*******footer********/

#contact-link {
    background-color: rgb(37, 41, 52);
}

#contact-link h2 {

    color: white;
}

footer {

    height: 90vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 50px;

}

footer .footer-contact {
    width: 50%;

}

footer .followUs {
    margin: auto;
}


footer .val {

    width: 30%;
    height: 2px;
    margin: 50px 0px;
    background-color: #F50057;
}

.followUs .icons i {

    margin-right: 50px;
    font-size: 50px;
    color: #11ABC1;
    transition: 0.2s all ease-in-out;

}

.followUs .icons i:hover {

    color: white;

}

button {
    cursor: pointer;
}

footer .footer-contact form {

    display: flex;
    flex-direction: column;
    justify-content: center;

}

footer .footer-contact input,
footer .footer-contact textarea {

    padding: 10px;
    border: none;
    margin-bottom: 5px;
    font-size: 15px;
    background-color: rgb(30, 36, 44);
    color: white;
}

footer .footer-contact textarea:focus,
footer .footer-contact input:focus {
    outline: none;
    border: 0.1px solid #F50057;
}

footer .footer-contact textarea {

    resize: none;
}

footer .footer-contact .submit-btn {

    color: white;
    border: 1px solid white;
    font-size: 20px;
    width: 100%;
    transition: all 0.4s ease-in-out;

}

footer .footer-contact .submit-btn:hover {

    letter-spacing: 5px;
    background-color: #F50057;
    border: #F50057;
}